* {
	box-sizing: border-box;
}

body {
	background-color: black;
	background-image: url("wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

div {
	padding: 10px;
}

a {
	color: white;
	text-decoration: none;
}

.pageTitle {
	text-align: center;
	font-size: 3vw;
	color: white;
	text-shadow: 2px 2px green;
}

.siteMenu {
	table-layout: fixed;
	width: 100%;
	background-color: gray;
	text-align: center;
	padding: 1px;
	color: white;
}

.cellItem:hover {
	background-color: coral;
}

.webContain {
	font-size: 3vw;
	text-shadow: 2px 2px gray;
}

.left1 {
	color: white;
	padding: 5px;
	float: left;
	width: 70%;
}

.right1 {
	color: white;
	padding: 5px;
	float: left;
	width: 30%;
}

@media screen and (max-width: 415px) {

	.left1,
	.right1 {
		width: 100%;
	}
}