body {
	background-image: url("wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	color: white;
	text-decoration: none;
}

table {
	color: white;
}

.pageTitle {
	text-align: center;
	color: white;
	text-shadow: 2px 2px green;
}

.siteMenu {
	table-layout: fixed;
	width: 100%;
	background-color: gray;
	text-align: center;
	padding: 10px;
	color: white;
}

.cellItem:hover {
	background-color: coral;
}
